@import url('https://fonts.googleapis.com/css2?family=Itim&family=Raleway:wght@300;400;500;600&display=swap');

// Palette
$primary: #2969ff;
$secondary: #ffce5c;
$tertiary: #ff5c8d;
$quaternary: #8dff5c;
$quinary: #7c5cff;
$light: #f6f8ffff;

// Text colors
$text-light: #aeaeae;
$text-med: #50514fff;
$text-dark: #363636;

// Background colors
$bg-light: #EFFBFF;
$bg-dark: #272d2dff;


$background: #016FB9;
$bg1: hsla(204, 99%, 36%, 1);
$bg2: hsla(204, 99%, 36%, 0.67);

// Primary font-family
$primary-font: 'Raleway', sans-serif;
