@import './theme/theme';
@import './mixins/mixins.scss';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: $primary-font;
}

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}