@import url('https://fonts.googleapis.com/css2?family=Itim&family=Raleway:wght@300;400;500;600&display=swap');
@import './theme/theme';
@import './mixins/mixins.scss';

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: $primary-font;
  background: linear-gradient(90deg, $bg1 0%, $bg2 100%);
  background: -moz-linear-gradient(90deg, $bg1 0%, $bg2 100%);
  background: -webkit-linear-gradient(90deg, $bg1 0%, $bg2 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  color: $text-med;
  box-sizing: border-box;
  font-family: $primary-font;
}

body::-webkit-scrollbar, 
body::-webkit-scrollbar {
  background-color: $text-dark;
}

body::-webkit-scrollbar-corner, 
body::-webkit-scrollbar-corner {
  background-color: $text-dark;
}

body::-webkit-scrollbar-thumb,
 body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $text-med;
  min-height: 24px;
  border: 3px solid $text-dark;
}

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    .grid {
      justify-content: center;
      margin: 0.62rem;
      padding: 0 0.62rem;
      .gridItem {
        height: 100%;
        width: 100%;
        .sidebar {
          padding: 0.62rem;
          margin: 0.62rem;
          height: 50vh;
        }
        .component {
          margin: 0.62rem;
          height: 90vh;
        }
      }
    }
  }
}
