@import '@/styles/theme/theme';
@import '@/styles/mixins/mixins.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  .main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    .item {
      .button {
        font-size: 1.1rem;
        margin: 0.88rem 0 1.46rem 0;
      }
      .header {
        color: $text-med;
        padding-bottom: 0.56rem;
      }
    }
  }
}