@import '@/styles/theme/theme';
@import '@/styles/mixins/mixins.scss';

  .main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    .loading {
      padding: 0.7rem;
      margin: 1.1rem;
    }
    .container {
      justify-content: flex-start;
      border: 0;
      background-color: transparent;
      margin: 0.62rem;
      padding: 0 0.62rem;
      .title {
        height: 100%;
        width: 100%;
      }
      .table {
        width: 50%;
      }
    }
  }
