@import '@/styles/theme/theme';
@import '@/styles/mixins/mixins.scss';

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .main {
    min-height: 100vh;
    min-width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0 1rem;
    margin: 0 1rem 0 1rem;
    .grid {
      .outer {
        .item {
          .gridItem {
            .paper {
              .header { 
                color: $text-dark;
              }
              .subheader {
                color: $text-med;
                margin-bottom: 1rem;
              }
              .link {
                .button {
                  background: $primary;
                  width: 300px;
                  height: 125px;
                  .endpoint {
                    color: $text-light;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
