@import '../theme/theme';
@import '../mixins/mixins.scss';

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: stretch;
    padding: 0 1rem;
    margin: 0 1rem 0 1rem;
    .grid {
      justify-content: center;
      margin: 0.62rem;
      padding: 0 0.62rem;
      .gridItem {
        height: 100%;
        width: 100%;
        .sidebar {
          height: 90vh;
          max-width: 450px;
          padding: 0.62rem;
          margin: 0.62rem;
        }
        .item {
          padding: 0.62rem;
          margin: 0.62rem;
          height: 90vh;
        }
      }
    }
  }
}
