@import '../theme/theme';
@import '../mixins/mixins.scss';

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .title {
    color: $primary;
    margin: 1rem;
    padding: 1rem;
    border-bottom: 1px solid $text-light;
    font-size: 18rem; 
    text-align: center;
  }
  .content {
    .card {
      width: 260px;
      height: 300px;
    }
  }
}
