@import '@/styles/theme/theme';
@import '@/styles/mixins/mixins.scss';

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 1rem;
    margin: 1rem;
    .item {
      .button {
        font-size: 1.1rem;
        margin: 0.88rem 0 1.46rem 0;
      }
      .header {
        color: $text-med;
        padding-bottom: 0.56rem;
      }
    }
    .grid {
      .outer {
        .item {
          .gridItem {
            .header { 
              color: $text-dark;
              padding: 0.55rem;
              font-weight: bold;
            }
            .subheader {
              font-size: 1.3rem;
              padding-top: 0.62rem;
              color: $text-med;
              margin-bottom: 1rem;
            }
            .link {
              .button {
                background: $primary;
                width: 300px;
                height: 125px;
              }
            }
          }
        }
      }
    }
  }
}
