@import '../theme/theme';

.navbar {
  font-family: $primary-font;
  width: 100%;
  background-color: $bg-d;
  .navcontainer {
    position: sticky;
    background-color: $bg-d;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the navcontainer horizontally */
    width: 100%; /* Ensure navcontainer takes the full width */
    .parent {
      display: flex;
      padding: 0.66rem 1rem;
      margin: 0.22rem 0rem;
      height: 90px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; /* Distribute space between brand and rightside */
      width: 100%; /* Ensure parent takes the full width */
      .brand {
        font-family: $primary-font;
        font-size: 2.6rem;
        color: $text-light;
      }
      .brand:hover {
        text-decoration: underline;
        text-decoration-color: $primary;
      }
      .rightside {
        display: flex;
        align-items: center; /* Align items in the center vertically */
        font-family: $secondary-font;
        .list {
          display: flex; /* Make list items align horizontally */
          .item {
            font-size: $font-size-lg;
            padding: 0 0.6rem;
            a {
              margin: 0 0.5rem;
              color: $text-light;
              text-decoration: none; /* Optional: Remove underline from links */
            }
            a:hover {
              color: $white;
              text-decoration: underline;
              text-decoration-color: $primary;
            }
          }
        }
      }
    }
  }
}
