@import '../theme/theme';

.navbar {
  font-family: $primary-font;
  width: 100%;
  .navcontainer {
    position: sticky;
    background-color: $bg-d;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    width: 100%;
    .parent {
      display: flex;
      padding: 0.66rem 1rem;
      margin: 0.22rem 0rem;
      height: 90px;
      flex-direction: row;
      align-items: center;
      .brand {
        font-family: $primary-font;
        font-size: 2.6rem;
        color: $text-light;
      }
      .brand:hover {
        text-decoration: underline;
        text-decoration-color: $secondary;
      }
      .rightside {
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        flex-direction: column;
        padding: 0 0.3rem;
        font-family: $secondary-font;
        .list {
          color: $text-light;
          .item {
            font-size: 1rem;
            color: $text-light;
            padding: 0 0.6rem;

            link {
              color: $text-light;
            }
            .linkTag {
              color: $text-light;
            }
          }
        }
      }
    }
  }
}
