@import '../theme/theme';

.navChild {
  height: 100%;
  padding: 0.62rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .active {
    color: $text-dark;
    font-weight: 500;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    .Link {
      color: inherit;
      text-decoration: none;
      margin: 1rem;
      .navLink {
        font-weight: 500;
        text-decoration: none;
        color: $text-med;
      }
      .navLink:hover {
        text-decoration: underline;
        text-decoration-color: $primary;
      }
      .active {
        font-weight: bold;
      }
    }
    .Link:hover {
      text-decoration: underline;
      text-decoration-color: $primary;
    }
  }
  #basic-menu {
    .menuItem {
      .highlight {
        padding: 0.22rem;
        margin: 0 0 0 0.33rem;
        background-color: $text-light;
        cursor: none;
      }
    }
  }
}
